#userInput {
    width: 300px;
}

#backImage {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#mainTitle {
    color: white;
    font-weight: bold;
}

#mainContainer {
    height: 655px;
}

.container {
    text-align: center;
}

#panelContainer {
    height: 600px;
}